@model List<RealEstate_Dapper_UI.Dtos.ProductDtos.ResultProductAdvertListWithCategoryByEmployeeDto>
@{
	ViewData["Title"] = "ActiveAdverts";
	Layout = "~/Areas/EstateAgent/Views/LayoutEstateAgent/Index.cshtml";
	int count = 0;
}

<div class="container-fluid pt-4 px-4">
	<div class="row g-4">
		<div class="col-12">
			<div class="bg-light rounded h-100 p-4">
				<h6 class="mb-4">Active Listing List</h6>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Ad Title</th>
								<th scope="col">Category</th>
								<th scope="col">Price</th>
								<th scope="col">Type</th>
								<th scope="col">Make Passive</th>
								<th scope="col">Delete</th>
								<th scope="col">Update</th>
								<th scope="col">See on Site</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								count++;
								<tr>
									<th scope="row">@item.productID</th>
									<td>@item.title</td>
									<td>@item.categoryName</td>
									<td>@item.price</td>
									<td>@item.type</td>
									<td><a href="/Product/DeleteProduct/@item.productID" class="btn btn-outline-danger">Delete</a></td>
									<td><a href="/Product/DeleteProduct/@item.productID" class="btn btn-outline-dark">Make Passive</a></td>
									<td><a href="/Product/UpdateProduct/@item.productID" class="btn btn-outline-success">Update</a></td>
									<td><a href="/Product/ProductDetail/@item.productID" class="btn btn-outline-primary">See on Site</a></td>
								</tr>
							}
						</tbody>
					</table>
					<a href="/Product/CreateProduct" class="btn btn-outline-info">New Product items</a>
				</div>
			</div>
		</div>
	</div>
</div>
